@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-image: linear-gradient(to right, #01022de8, #000000dc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: linear-gradient(to right, #01022dbb, #0000008e), url(img.avatar.jpg);
    background-position: center;

    width: 90%;
    height: 640px;

}

.container:hover {
    background-image: linear-gradient(to right, #01022dbb 30%, transparent), url(img.avatar.jpg);
    width: 90%;
    height: 640px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
 .logo {
    font-size: 30px;
    text-transform: uppercase;

 }
  ul{
    width: 60%;
    list-style: none;
     display: flex;
     justify-content: space-between;

  }
  ul a{

    border-bottom: 2px solid transparent;
    }
    ul a:hover{
        border border-bottom-color: white;
    }
    .content{
        color: white;
        width: 50px;
        margin: 50px;
        padding: 30px;
    }
     .content h2{
        font-size: 100px;
        text-transform: uppercase;
     } 
     .content p{
        letter-spacing: 4px;
        width: 350px;
        padding: 20px 0;
     }
     .content button{
        font-size: 30px;
        padding: 6px 10px;
        border-radius: 10px;
        cursor: pointer;
     }
     .content button:hover{
        background-color: transparent;
        border-color: white;
        color: white;
     }
  
a {
    color: white;
    text-decoration: none; /* Add a value here such as 'none' or 'underline' */
}

/* Additional CSS properties */

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
  }

